<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright 2019 Red Hat, Inc.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<module xmlns="urn:jboss:module:1.8" name="io.vertx.proton">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${io.vertx:vertx-proton}"/>
    </resources>
    <dependencies>
        <module name="io.vertx.core"/>
        <module name="io.netty.netty-buffer"/>
        <module name="io.netty.netty-codec"/>
        <module name="io.netty.netty-codec-dns"/>
        <module name="io.netty.netty-codec-http"/>
        <module name="io.netty.netty-codec-http2"/>
        <module name="io.netty.netty-codec-socks"/>
        <module name="io.netty.netty-common"/>
        <module name="io.netty.netty-handler"/>
        <module name="io.netty.netty-handler-proxy"/>
        <module name="io.netty.netty-resolver"/>
        <module name="io.netty.netty-resolver-dns"/>
        <module name="io.netty.netty-transport"/>
        <module name="io.netty.netty-transport-native-epoll"/>
        <module name="io.netty.netty-transport-native-kqueue"/>
        <module name="org.apache.qpid.proton"/>
        <module name="java.security.sasl"/>
    </dependencies>
</module>